/Desarrollo de Software de Escritorio/Fabian/Pizzeria/nbproject/private/
/Desarrollo de Software de Escritorio/Fabian/Pizzeria/build/
/Desarrollo de Software de Escritorio/Fabian/SpotifyTrucho/target/
/Desarrollo de Software de Escritorio/Fabian/ScannerTest/target/
/Desarrollo de Software de Escritorio/Fabian/Verduleria/target/
/Desarrollo de Software de Escritorio/Fabian/Clinica/target/
/Desarrollo de Software de Escritorio/Fabian/Veterinario/target/
/Desarrollo de Software de Escritorio/Fabian/RegistroClinico/target/
/Desarrollo de Software de Escritorio/Fabian/EmpresaApp/target/
